@{
    ViewData["Title"] = "Thông tin chi tiết khách hàng";
}

@using Kendo.Mvc.UI
@model SOHU.Data.Models.Membership
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin chi tiết khách hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Thành viên</a></li>
                    <li class="breadcrumb-item active"><a class="text-primary" asp-action="Customer" asp-controller="Membership">Khách hàng</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <form asp-action="SaveCustomer" asp-controller="Membership">
                            @Html.HiddenFor(Model => Model.ID)
                            @Html.HiddenFor(Model => Model.ParentID)
                            <div class="row">
                                <div class='col-md-9'>
                                </div>
                                <div class='col-md-1'>
                                    <button style="width:100%;" type="submit" title="Save" class="btn btn-primary">
                                        <span class="fas fa-save"></span>
                                    </button>
                                </div>
                                <div class='col-md-1'>
                                    <a asp-route-ID="0" asp-action="CustomerDetail" asp-controller="Membership" title="Tạo mới" style="width:100%;" class="btn btn-success">
                                        <span class="fas fa-plus"></span>
                                    </a>
                                </div>
                                <div class='col-md-1'>
                                    <a asp-action="Customer" asp-controller="Membership" title="Danh sách" style="width:100%;" class="btn btn-info">
                                        <span class="fas fa-arrow-left"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class='form-group'>
                                        <label for='FullName'>Khách hàng</label>
                                        @(Html.TextBoxFor(Model => Model.FullName, new { placeholder = "Khách hàng", @class = "form-control" }))
                                    </div>
                                    <div class='form-group'>
                                        <label for='Phone'>Điện thoại</label>
                                        @(Html.TextBoxFor(Model => Model.Phone, new { placeholder = "Điện thoại", @class = "form-control" }))
                                    </div>
                                    <div class='form-group'>
                                        <label for='TaxCode'>Mã số thuế</label>
                                        @(Html.TextBoxFor(Model => Model.TaxCode, new { placeholder = "Mã số thuế", @class = "form-control" }))
                                    </div>
                                    <div class='form-group'>
                                        <label for='Address'>Địa chỉ</label>
                                        @(Html.TextBoxFor(Model => Model.Address, new { placeholder = "Địa chỉ", @class = "form-control" }))
                                    </div>
                                    <div class='form-group'>
                                        <label for='Email'>Email</label>
                                        @(Html.TextBoxFor(Model => Model.Email, new { placeholder = "Email", @class = "form-control" }))
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class='form-group'>
                                        <label for='ContactFullName'>Đại diện</label>
                                        @(Html.TextBoxFor(Model => Model.ContactFullName, new { placeholder = "Đại diện", @class = "form-control" }))
                                    </div>
                                    <div class='form-group'>
                                        <label for='ContactPosition'>Chức vụ</label>
                                        @(Html.TextBoxFor(Model => Model.ContactPosition, new { placeholder = "Chức vụ", @class = "form-control" }))
                                    </div>
                                    <div class='form-group'>
                                        <label for='BankAccount'>Tài khoản ngân hàng</label>
                                        @(Html.TextBoxFor(Model => Model.BankAccount, new { placeholder = "Tài khoản ngân hàng", @class = "form-control" }))
                                    </div>
                                    <div class='form-group'>
                                        <label for='BankName'>Ngân hàng</label>
                                        @(Html.TextBoxFor(Model => Model.BankName, new { placeholder = "Ngân hàng", @class = "form-control" }))
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

